body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #111;
}
.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.header {
    text-align: center;
    padding: 50px 20px;
}
.header img {
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
}
.projects {
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap : 5rem ;

}
.project {
    text-align: center;
    margin: 40px;
}
.project img {
    width: 100%;
    height: auto;
    border: 1px solid white;
}
.about {
    text-align: center;
    padding: 50px 20px;
}
.about p{
    text-align: center;
    font: chivo;
    font-weight: 900;
    font-size: 30px;
    line-height: 1.8rem;
    width: 400px;
    height: 100px;
    max-width: 400px;
    text-align: left;
}
.about img {
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
}
.featured-projects {
    text-align: center;
    padding: 50px 20px;
}

@media (max-width: 768px) {
    .project {
        width: 100%;
        
    }
    .projects{
        grid-template-columns: repeat(3,1fr);
    }
}
.para{
    font: Archivo;
    font-weight: 500;
    font-size: 1em;
    
    height: 24px;
    width: 100%;
    color: grey;
    display: grid;

}
.submit1{
    background-color:limegreen;
    border-radius: 5px;
}
img {
    transition: transform 0.3s ease, filter 0.3s ease;
}

img:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}
.nav-links a {
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-links a:hover {
    color: #007BFF;
    transform: scale(1.1);
}
.logo{
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}
.logo a:hover{
    color: #007BFF;
    transform: scale(1.1);
}
.submit1{
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}
.submit1:hover{
    color: black;
    transform:scale(1.1);
}
.Main-image{
    border-radius: 14px;
}
.imt img{
    border: 1px solid white;
}